# Creating data visualiztion for Cvoid-19 cases and deathes by country

In [31]:
import numpy as np
import pandas as pd
import csv
import datetime

# data pre-processing

In [42]:
# input data from time-series-19-covid-combined.csv
fpath = r'C:\P\VisualizationForCovid-19\data\time-series-19-covid-combined.csv'
csvFile = open(fpath)
reader = csv.reader(csvFile)

result = []
for item in reader:
    if reader.line_num == 1: # skip first line
        continue
    result.append(item)
    
csvFile.close()
#result
for item in result:
    for i in range(3,6):
        if item[i] != '':
            item[i] = int(item[i])
        else:
            item[i] = 0

# using DataFrame
df = pd.DataFrame(data = result,columns=['Time','Country/Region','Province/State','Confirmed','Recovered','Deaths'])
# string to time
df['Time']=pd.to_datetime(df['Time'])
# clean none data
df.dropna()
df

             Time Country/Region Province/State  Confirmed  Recovered  Deaths
0      2020-01-22    Afghanistan                         0          0       0
1      2020-01-23    Afghanistan                         0          0       0
2      2020-01-24    Afghanistan                         0          0       0
3      2020-01-25    Afghanistan                         0          0       0
4      2020-01-26    Afghanistan                         0          0       0
...           ...            ...            ...        ...        ...     ...
108376 2021-02-17       Zimbabwe                     35423      31615    1418
108377 2021-02-18       Zimbabwe                     35543      31821    1420
108378 2021-02-19       Zimbabwe                     35710      31972    1430
108379 2021-02-20       Zimbabwe                     35768      32096    1432
108380 2021-02-21       Zimbabwe                     35796      32125    1436

[108381 rows x 6 columns]

# Count how many days and countries/regions

In [43]:
countries = len(df['Country/Region'].unique())
days = len(df['Time'].unique())

# Creating three DataFrame to store data for confirmed, recovered and death

In [44]:
df_C = pd.DataFrame(data = [[0]*countries]*days, index=df['Time'].unique(), columns=df['Country/Region'].unique())
df_R = pd.DataFrame(data = [[0]*countries]*days, index=df['Time'].unique(), columns=df['Country/Region'].unique())
df_D = pd.DataFrame(data = [[0]*countries]*days, index=df['Time'].unique(), columns=df['Country/Region'].unique())

In [45]:
dr = df[['Recovered']]
dr

        Recovered
0               0
1               0
2               0
3               0
4               0
...           ...
108376      31615
108377      31821
108378      31972
108379      32096
108380      32125

[108381 rows x 1 columns]

Country/Region  Time
Afghanistan     2020-01-22        0
                2020-01-23        0
                2020-01-24        0
                2020-01-25        0
                2020-01-26        0
                              ...
Zimbabwe        2021-02-17    31615
                2021-02-18    31821
                2021-02-19    31972
                2021-02-20    32096
                2021-02-21    32125
Name: Recovered, Length: 76224, dtype: object

In [46]:
grouped = df.groupby(by=['Country/Region','Time']).sum()
grouped

                           Confirmed  Recovered  Deaths
Country/Region Time
Afghanistan    2020-01-22          0          0       0
               2020-01-23          0          0       0
               2020-01-24          0          0       0
               2020-01-25          0          0       0
               2020-01-26          0          0       0
...                              ...        ...     ...
Zimbabwe       2021-02-17      35423      31615    1418
               2021-02-18      35543      31821    1420
               2021-02-19      35710      31972    1430
               2021-02-20      35768      32096    1432
               2021-02-21      35796      32125    1436

[76224 rows x 3 columns]

In [190]:
for i in range(countries):
    data1 = list(grouped.iloc[ days*i:days*(i+1),0])
    data2 = list(grouped.iloc[ days*i:days*(i+1),1])
    df_C.iloc[0:days,i] = data1
    df_D.iloc[0:days,i] = data2 
    
df_C = df_C.T
df_D = df_D.T

,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,2020-01-31,...,2021-02-12,2021-02-13,2021-02-14,2021-02-15,2021-02-16,2021-02-17,2021-02-18,2021-02-19,2021-02-20,2021-02-21
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,2424,2427,2427,2427,2428,2428,2430,2430,2430,2432
Albania,0,0,0,0,0,0,0,0,0,0,...,1531,1543,1555,1567,1582,1600,1617,1636,1653,1666
Algeria,0,0,0,0,0,0,0,0,0,0,...,2932,2935,2939,2943,2945,2947,2950,2954,2958,2961
Andorra,0,0,0,0,0,0,0,0,0,0,...,106,107,107,107,107,107,107,107,107,107
Angola,0,0,0,0,0,0,0,0,0,0,...,490,491,492,493,494,496,498,498,498,499
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,0,0,0,0,0,0,0,0,0,0,...,35,35,35,35,35,35,35,35,35,35
West Bank and Gaza,0,0,0,0,0,0,0,0,0,0,...,1918,1930,1933,1936,1942,1948,1956,1961,1971,1976
Yemen,0,0,0,0,0,0,0,0,0,0,...,616,616,617,617,618,618,618,618,618,619
Zambia,0,0,0,0,0,0,0,0,0,0,...,931,940,951,959,974,983,991,1002,1016,1020
Zimbabwe,0,0,0,0,0,0,0,0,0,0,...,1393,1398,1400,1410,1414,1418,1420,1430,1432,1436

NameError: name 'groupR' is not defined

# Output data

In [183]:

outpathC = r'C:\P\VisualizationForCovid-19\Outputdata\Cases_byCountries.csv'
outpathD = r'C:\P\VisualizationForCovid-19\Outputdata\Death_byCountries.csv'
df_C.to_csv(outpathC)
df_D.to_csv(outpathD)

for i in range(countries):
    data = list(grouped.iloc[ days*i:days*(i+1),0])
    df_R.iloc[0:days,i] = data2